.section{
    width: 100%;
    height: calc(100dvh - 60px);
    display: flex;
    justify-content: center;
    background-color: black;
    position: relative;
}

.wrapper{
    width: 100%;
    padding-left: 10%;
    height: 100%;
    position: relative;
    z-index: 3;
    background-color: black;
    overflow: hidden;
}

.wrapper h1{
    margin-top: 100px;
    width: 40%;
    color: white;
    font-size: 48px;
    position: relative;
    z-index: 4;
}
.wrapper p{
    margin-top: 25px;
    width: 40%;
    color: rgb(226, 226, 226);
    font-size: 18px;
    position: relative;
    z-index: 4;
}
.wrapper button{
    margin-top: 50px;
    width: 340px;
    height: 60px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    border-radius: 20px;
    background-color: white;
    position: relative;
    z-index: 4;
    overflow: hidden;
    border: 0;
}

.absolute{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: right;
    width: 100%;
    overflow: hidden;
    
}
.absolute div{
    display: flex;
    justify-content: right;
    width: 50%;
}